asgiref==3.8.1
certifi==2025.11.12
charset-normalizer==3.4.4
cloudinary==1.44.1
dj-database-url==2.1.0
Django==4.2.23
django-cloudinary-storage==0.3.0
django-ratelimit==4.1.0
google-generativeai==0.8.3
gunicorn==21.2.0
idna==3.11
joblib==1.5.1
numpy==2.3.0
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0
python-dotenv==1.0.0
python-http-client==3.3.7
requests==2.32.5
scikit-learn==1.7.0
scipy==1.15.3
sendgrid==6.11.0
six==1.17.0
sqlparse==0.5.3
starkbank-ecdsa==2.2.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.2
